<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="views/plantilla">

<div th:fragment="contenido">

    <h2 th:text="${producto.codigoPeep != null} ? 
                'Editar Producto' : 'Nuevo Producto'"></h2>

    <form th:action="@{/productos/guardar}" 
          th:object="${producto}" 
          method="post">

        <input type="hidden" th:field="*{codigoPeep}" />

        <div>
            <label>Nombre</label>
            <input type="text" th:field="*{nombrePepp}" required />
        </div>

        <div>
            <label>Marca</label>
            <input type="text" th:field="*{marcaPepp}" required />
        </div>

        <div>
            <label>Unidad</label>
            <input type="text" th:field="*{unidadPepp}" required />
        </div>

        <div>
            <label>Tipo de Protección</label>
            <input type="text" th:field="*{tipoProteccionPepp}" required />
        </div>

        <button type="submit">Guardar</button>
        <a th:href="@{/productos}">Cancelar</a>

    </form>

</div>

</html>