<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Inventario</h2>

<form th:action="@{/inventarios/guardar}" th:object="${inventario}" method="post">

ID:
<input th:field="*{codigoInvepp}"><br>

Producto:
<select th:field="*{producto}">
    <option th:each="p : ${productos}"
            th:value="${p}"
            th:text="${p.nombrePepp}">
    </option>
</select><br>

Talla:
<input th:field="*{tallaInvepp}"><br>

Stock:
<input type="number" th:field="*{stockInvepp}"><br>

Valor:
<input type="number" step="0.01" th:field="*{valorUnitarioInvepp}"><br>

<button type="submit">Guardar</button>

</form>

</body>
</html>